header {    
  width: 100%;
  height: 280px;
  background: url('../assets/images/pattern-bg-desktop.png') no-repeat center center;
  background-size: cover;  
  padding: 2rem 1rem;
  color: $white;
  position: relative;
  z-index: 2;

  @media (max-width: 767px){
    height: 300px;
    background: url('../assets/images/pattern-bg-mobile.png') no-repeat center center;
    background-size: cover;  
    padding: 2rem 0;
  }

  h1 {
    font-family: 'Rubik';
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    color: $white;
    letter-spacing: -0.29px;      
  }

  .search-bar {
    margin-top: 24px;
    display: flex;
    width:100%;
    max-width: 555px;
    margin-inline: auto;
    border-radius: 12px;
    overflow: hidden;


    @media (max-width: 768px){
      max-width: 90%;
    }

    #ip-input {
      flex: 1;
      padding: 0 16px;
      font-family: 'Rubik';
      font-size: 18px;
      line-height: 58px;
      font-weight: 400;
      border: none;
      color: $darkGray;

      @media (max-width: 767px){
        font-size: 16px;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: 1px dashed #3f3f3f;
        outline-offset: -4px;
        border-radius: 12px 0 0 12px;
      }
    }

    #search-btn {
      background-color: $black;
      color: $white;
      border: none;
      padding: 0 1.2rem;
      cursor: pointer;
      font-size: 1.25rem;
      transition: background 0.3s;

      &::before {
        content: '';
        display: inline-block;
        width: 9px;
        height: 15px;  
        background: url('../assets/images/icon-arrow.svg') no-repeat center center;
        background-size: contain;    
                          
      }

      &:hover {
        background-color: $gray;
      }

      &:focus {
        outline: 1px dashed $white;
        outline-offset: -4px;
        border-radius: 0 12px 12px 0;
      }        
    }
  }
}